.git
.gitignore

.vscode
.idea

.pytest_cache
__pycache__

*.pyc
*.pyo

node_modules
frontend/node_modules

frontend/dist

.venv
venv

docs

tests

README.md
README copy.md
CHANGELOG.md
CONTRIBUTING.md

.env
.env.*

*.log

Dockerfile.old

*.zip